@import "base/variables";
@import "libs/reset";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Red+Rose&family=Roboto:wght@400;500;700;900&family=Rokkitt&display=swap");

$text-color: #000;
$btn-color: #ffa71e;
$red: #e1332d;
$white: #fff;

@import "v2";
@import "v1";