.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url("../images/main-bg-2.jpg") no-repeat;
}

.bottom__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom__left {
    margin-right: 110px;
    max-width: 816px;
}

.bottom__pretitle {
    margin-bottom: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: #fff;
}

.bottom__title {
    margin-bottom: 17px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    color: #fff;
}

.bottom__text {
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #fff;
}

.bottom__main {
    margin-bottom: 26px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #fff;
}

.bottom__telegram {
    display: inline-block;
    outline: none;
    border-radius: 15px;
    padding: 8px 65px;
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
    font-weight: 600;
    font-size: 25px;
    line-height: 120%;
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    background-size: 300% 100%;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.bottom__telegram:hover {
    background-position: 100% 0;
    transition: all 0.4s ease-in-out;
}

.bottom__right {
    text-align: right;
}

.bottom__right-title {
    margin-bottom: 29px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: #e5e5e5;
}

.bottom__right-timer {
    margin-bottom: 29px;
    margin-left: auto;
}

.bottom__link {
    display: inline-block;
    outline: none;
    border-radius: 15px;
    padding: 18px 51px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    transition: all 0.5s;

    &:hover {
        box-shadow: 0 5px 30px -2px rgba(255, 255, 255, 70%);
        color: #90726c;
        background: #fff;
        transition: all 0.5s;
    }
}