@import "base/variables";
@import "libs/reset";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Red+Rose&family=Roboto:wght@400;500;700;900&family=Rokkitt&display=swap");
@import "libs/animate";

$text-color: #000;
$btn-color: #ffa71e;
$red: #e1332d;
$white: #fff;

.timer__v1,
.timer__v2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    width: 283px;
    height: 72px;
    color: #fff;
    background: rgba(15, 17, 21, 0.7);
}

.timer__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    font-family: "Red Rose", cursive;
}

.timer__block p {
    font-weight: 700;
    font-size: 12px;
}

.timer__block span {
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 30px;
}

@import "v2";
@import "v1";

section.deactivated {
    display: none !important;
}

section.activated {
    display: flex !important;
}

section.activated-b {
    display: block !important;
}

.bottom__wrap {
    display: none;
}