.top {
    display: none;
    overflow: hidden;
    min-height: 100vh;
}

.top__inner {
    display: flex;
}

.top-left,
.top-right {
    width: 100%;
}

.top-left {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("../images/main-bg.jpg") 50%/cover no-repeat;
}

.logo {
    position: absolute;
    left: 50%;
    top: 13px;
    transform: translateX(-50%);
}

.top-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.top-right__pretitle {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 120%;
    color: $text-color;
}

.top-right__title {
    margin-bottom: 27px;
    font-family: "Red Rose", cursive;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    color: #000;
}

.top-right__text {
    display: block;
    margin-bottom: 6px;
    width: 500px;
    font-family: "Rokkitt", serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    text-align: left;
    color: #000;
}

.top-right__text--lasted {
    margin-bottom: 18px;
}

.top-right__descr {
    margin-bottom: 7px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #000;
}

.top-right__courses {
    margin-bottom: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 120%;
    color: #000;
}

.top-right__link {
    display: inline-block;
    border-radius: 10px;
    padding: 17px 35px;
    font-weight: 800;
    font-size: 17px;
    line-height: 120%;
    text-decoration: none;
    color: #fff;
    background: #ffa71e;
    transition: all 0.5s;
}

.top-right__link:hover {
    filter: drop-shadow(0 5px 15px rgba(255, 167, 30, 0.7));
    transition: all 0.5s;
}

@media (max-width: 1075px) {
    .top-right__inner {
        padding: 0 20px;
    }
}

@media (max-width: 850px) {
    .top-right__text {
        width: 403px;
    }
}

@media (max-width: 740px) {
    .top {
        flex-direction: column;
    }

    .top-left {
        height: 300px;
    }

    .timer__v2 {
        margin-top: 85px;
    }

    .top-right {
        margin: auto 0;
        padding: 15px 0;
    }
}

@media (max-width: 500px) {
    .top-right__title {
        margin-bottom: 10px;
        font-size: 28px;
    }

    .top-right__text {
        width: auto;
        font-size: 18px;
    }

    .top-right__inner {
        padding: 0 10px;
    }

    .top-right__link {
        padding: 17px 15px;
        font-size: 14px;
    }
}